<!-- FONTS -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<head>
    <link rel="stylesheet" href="C:/Users/alext/Desktop/projects/resume builder/static/style.css" type="text/css"/>
</head>

<!-- PAGE STUFF -->
<div class="rela-block page">
    <div class="rela-block top-bar">
        <div class="caps name"><div class="abs-center">{{name}}</div></div>
    </div>
    <div class="side-bar">
        <div class="mugshot">
            <div class="logo">
                <svg viewbox="0 0 80 80" class="rela-block logo-svg">
                    <path d="M 10 10 L 52 10 L 72 30 L 72 70 L 30 70 L 10 50 Z" stroke-width="2.5" fill="none"/>
                </svg>
                <p class="logo-text">kj</p>
            </div>
        </div>
        <p>{{street_address}}</p>
        <p>{{city_state_zip}}</p>
        <p>{{phone}}</p>
        <p>{{email}}</p><br>
        <p class="rela-block social twitter">{{twitter}}</p>
        <p class="rela-block social pinterest">Pinterest things</p>
        <p class="rela-block social linked-in">{{linkedin}}</p>
        <p class="rela-block caps side-header">Expertise</p>
        <p class="rela-block list-thing">HTML</p>
        <p class="rela-block list-thing">CSS (Stylus)</p>
        <p class="rela-block list-thing">JavaScript & jQuery</p>
        <p class="rela-block list-thing">Killer Taste</p>
        <p class="rela-block caps side-header">Education</p>
        <p class="rela-block list-thing">Advanced potion making</p>
        <p class="rela-block list-thing">Degree in popping and locking</p>
        <p class="rela-block list-thing">Knitting game on point</p>
        <p class="rela-block list-thing">Culinary af</p>
    </div>
    <div class="rela-block content-container">
        <h2 class="rela-block caps title">{{desired_job_title}}</h2>
        <div class="rela-block separator"></div>
        <div class="rela-block caps greyed">Profile</div>
        <p class="long-margin">{{mission_statement}}</p>

        <div class="rela-block caps greyed">Education</div>

        <h3>{{school1}}</h3>
        <p class="light">{{school1_subhead}}</p>
        <p class="justified">{{school1_desc}}</p>
        
        <h3>{{school2}}</h3>
        <p class="light">{{school2_subhead}}</p>
        <p class="justified">{{school2_desc}}</p>

        <div class="rela-block caps greyed">Research Experience</div>

        <h3>{{research1_head}}</h3>
        <p class="light">{{research1_subhead}}</p>
        <p class="justified">{{research1_desc}}</p>
        
        <h3>{{research2_head}}</h3>
        <p class="light">{{research2_subhead}}</p>
        <p class="justified">{{research2_desc}}</p>

        <div class="rela-block caps greyed">Teaching Experience</div>

        <h3>{{teach1_head}}</h3>
        <p class="light">{{teach1_subhead}}</p>
        <p class="justified">{{teach1_desc}}</p>
        
        <h3>{{teach2_head}}</h3>
        <p class="light">{{teach2_subhead}}</p>
        <p class="justified">{{teach2_desc}}</p>

        <h3>{{teach3_head}}</h3>
        <p class="light">{{teach3_subhead}}</p>
        <p class="justified">{{teach3_desc}}</p>

    </div>

    
</div>