<!DOCTYPE html>
<html>
<head>
<title>{{name}} - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<!--<link type="text/css" rel="stylesheet" href="C:/Users/alext/Desktop/projects/resume_builder/static/th_style_loop.css">-->
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" style='margin-top: 1in'>
	<div class="mainDetails">		
		<div id="name">
			<h1>{{name}}</h1>
			<h2>{{desired_job_title}}</h2>
		</div>
		
		<div id="contactDetails">
			<ul>
				<li>e: <a href="mailto:{{email_link}}" target="_blank">{{email}}</a></li>
				<li>w: <a href="{{website_link}}">{{website}}</a></li>
				<li>m: {{phone}}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>{{mission_statement}}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
                {%for e in education%}
                <article>
					<h2>{{e['company']}}</h2>
					<p class="subDetails">{{e['title']}}, {{e['start']}} - {{e['end']}}</p>
					<p>{{e['desc']}}</p>
				</article>
				{%endfor%}
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Research Experience</h1>
			</div>
			{%for r in research%}
			<div class="sectionContent">
                
                <article>
					<h2>{{r['title']}} at {{r.company}}</h2>
					<p class="subDetails">{{r['start']}} - {{r['end']}}</p>
					<p>{{r['desc']}}</p>
                </article>
			</div>
			{%endfor%}
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Teaching Experience</h1>
			</div>
			
			{%for t in teaching%}
			<div class="sectionContent">
				<article>
					<h2>{{t['title']}} at {{t['company']}}</h2>
					<p class="subDetails">{{t['start']}} - {{t['end']}}</p>
					<p>{{t['desc']}}</p>
                </article>
			</div>
			{%endfor%}
			<div class="clear"></div>
		</section>		
			
		<section>
			<div class="sectionTitle">
				<h1>Publications</h1>
			</div>
			{%for p in publications%}
			<div class="sectionContent">
                <article>
					<h2>{{p['title']}}</h2>
					<p class="subDetails">{{p['company']}}, {{p['end']}}</p>
					<p>{{p['desc']}}</p>
				</article>
			</div>
			{%endfor%}
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Presentations</h1>
			</div>
			{%for p in presentations%}
			<div class="sectionContent">
                <article>
					<h2>{{p['title']}}</h2>
					<p class="subDetails">{{p['company']}}, {{p['end']}}</p>
					<p>{{p['desc']}}</p>
				</article>
			</div>
			{%endfor%}
			<div class="clear"></div>
		</section>

		<section>

			<div class="sectionTitle">
				<h1>Awards</h1>
			</div>
			{%for a in awards%}
			<div class="sectionContent">
                
                <article>
					<h2>{{a['title']}}</h2>
					<p class="subDetails">{{a['company']}}, {{a['end']}}</p>
				</article>
				
			</div>
			{%endfor%}
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<footer>
	<p style='line-height:85%'>This resume was generated using a custom python script.</p> 
	<p>Source code is available at my GitHub: <a href="https://github.com/zanderman12/resume_builder">https://github.com/zanderman12/resume_builder</a></p>
</footer>

</body>
</html>